<h1 mat-dialog-title>Welcome to Karapulse</h1>
<span class="logo-karapulse"><img src="karalogo.png" width="96px" height="96px" alt="" /></span>
<div mat-dialog-content>
  <p>What's your name?</p>
  <mat-form-field>
    <input matInput [(ngModel)]="data.name" (keyup.enter)="dialogRef.close(data.name)">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="data.name" cdkFocusInitial>Let's sing</button>
</div>