.results {
  padding: 1rem;
}

.title {
  font-weight: bold;
  display: flex;
}

.artist {
  font-weight: lighter;
  display: flex;
}

.song-entry {
  padding-left: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-right: 0.5em;
  text-align: left;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.cover-image {
  width: 50px;
  height: 50px;
  background-image: url("/default_cover.png");
}

.cover-container {
  display: flex;
  padding-right: 0.5em;
}

.info {
  flex-direction: column;
}

mat-cell:first-of-type, mat-footer-cell:first-of-type, mat-header-cell:first-of-type {
  padding-left: 0px;
}
