<div *ngIf="results?.length">
  <mat-table [dataSource]="results" class="results">
    <ng-container matColumnDef="card">
      <mat-header-cell *matHeaderCellDef> Card</mat-header-cell>
      <mat-cell *matCellDef="let song" class="song-entry">
        <div class="cover-container">
          <img src="{{song.cover || 'default_cover.png'}}" class="cover-image">
        </div>
        <div class="info">
          <div class="title">{{song.title}}</div>
          <div class="artist">{{song.artist}}</div>
        </div>
      </mat-cell>
    </ng-container>
    <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="openBottomSheet(row)"></mat-row>
  </mat-table>
</div>
<div *ngIf="!results || !results.length ">
  <span>No results</span>
</div>

