<mat-form-field>
  <input #searchtext matInput type="text" id="searchtext" placeholder="search" (keyup)="search(searchtext.value)"> <!--[(ngModel)]="searchTerm$"-->
  <!--<button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">-->
  <button mat-button matSuffix mat-icon-button aria-label="Clear" onclick="document.getElementById('searchtext').value = ''">
    <mat-icon>close</mat-icon>
  </button>
</mat-form-field>
